.resume-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: var(--text-90);
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: var(--section-padding-bottom);
}
/* so the section lines up at the correct y- axis when clicking on link to section */
#resume-section {
  scroll-margin-top: var(--scroll-margin-top);
}
.resume-download-btn {
  background: none;
  border: 1px solid var(--primary);
  color: var(--primary);
  padding: 0.5rem 1rem;
  max-width: 200px;
  display: flex;
  margin-top: -2rem;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  border-radius: var(--btnBorderRadius);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: auto;
  margin-right: auto;
}
.resume-download-btn:hover {
  background: var(--primary);
  color: white;
}
.resume-title-wrapper {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid var(--border-secondary);
  gap: 2rem;
}

.resume-item {
  margin-bottom: 1.5rem;
}
.resume-job-title {
  font-weight: 600;
}

.resume-date {
  font-weight: 400;
}

.resume-job-type {
  font-style: italic;
  margin-bottom: 0.3rem;
}
.resume-job-description {
  color: var(--text-70);
}

.skills-filter {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.skills-filter button {
  background: none;
  border: 1px solid var(--primary);
  color: var(--primary);
  padding: 0.4rem 1rem;
  border-radius: var(--btnBorderRadius);
  cursor: pointer;
  transition: all 0.3s ease;
}

.skills-filter button:hover {
  background: var(--primary);
  color: white;
}
.skills-filter .active {
  background: var(--primary);
  color: white;
  box-shadow: var(--box-shadow-selected);
}
.filter-description {
  color: var(--text-60);
  font-style: italic;
  font-size: 0.75rem;
  padding-left: 0.25rem;
}
.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  list-style: none;
  padding: 0;
}

.skills-list li {
  background: var(--secondary);
  color: white;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  font-size: 0.9rem;
}
@media (max-width: 969px) {
  .resume-wrapper {
    padding: 3rem 3rem var(--section-padding-bottom) 3rem;
  }
  .resume-title-icon {
    max-width: 35px;
  }

  .filter-description {
    margin-top: 0.25rem;
  }
}
