/* ABOUT ME SECTION ON PORTFOLIO PAGE  */
.about-wrapper {
  width: 100%;
  padding-bottom: 10rem;
}
/* so the section lines up at the correct y- axis when clicking on link to section */
#about-me {
  scroll-margin-top: calc(var(--section-title-height) + var(--nav-height));
}
.about-bio-panel {
  padding: 4rem 0;
  display: flex;
  flex-direction: row;
  gap: 10rem;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: 0 auto 6rem auto;
}
.about-quote {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  max-width: 30%;
  text-align: center;
}

.about-description {
  font-size: 1.25rem;
  line-height: 1.6;
  max-width: 480px;
  margin: auto;
  padding-top: 2rem;
  text-align: center;
}

.about-image img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

/* ⭐ MOBILE VERSION — matches your screenshot */
@media (max-width: 1000px) {
  .about-bio-panel {
    flex-direction: column;
    position: relative;
    margin-bottom: 1rem;
  }

  .about-quote {
    position: absolute;
    bottom: 20%;
    font-size: 1.6rem;
    z-index: 10;
    line-height: 1.25;
    /* 100 pixels less than the max size of the portrait image */
    max-width: 300px;
    margin: 0;
    color: white;
  }

  .about-image {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 400px;
  }
  /* creates darkness over image so overlay text is visible */
  .about-image img {
    background-color: var(--secondary); /* navy */
    mix-blend-mode: multiply;
    filter: brightness(0.6);
  }

  .about-description {
    max-width: 400px;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.55;
    padding-top: 0;
  }
}
