/* used for the entire case study detail page, including case study side menu  */

/* case study details page layout */
.case-study-detail-layout {
  height: calc(100vh - var(--nav-height));
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "menu head"
    "menu content";
  box-sizing: border-box;
}
.case-study-right-col {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "head"
    "content";
  min-height: 0; /* CRITICAL for scroll */
  max-height: calc(100vh - var(--nav-height));
}
/* Simple Header */
.case-study-simple-header {
  box-sizing: border-box;
  position: sticky;
  top: var(--nav-height);
  left: 0;
  background-color: var(--mainBg);
  padding: 1rem 2rem;
  border-bottom: 2px solid var(--border-secondary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  z-index: 700;
  height: var(--case-study-header-height);
  width: 100%;
  max-width: 100vw;
}

.header-right {
  display: flex;
  flex-direction: column;
}
.simple-header-title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-80);
  margin: 0;
}

.simple-header-type {
  font-size: 1rem;
  color: var(--text-80);
}

.mobile-contents {
  display: none;
}

.contents-btn {
  background: none;
  border: 1px solid var(--border-secondary);
  padding: 0.5rem 1rem;
  border-radius: var(--btnBorderRadius);
  cursor: pointer;
  font-size: 1rem;
  color: var(--text-80);
}
.mobile-back-btn {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--text-90);
  padding: 0;
  transition: color 0.2s ease;
}
.mobile-back-btn:hover {
  color: var(--primary);
}

/* contents button  */
.contents-btn {
  display: none;
}

/* scrolling container that holds cards */
.case-study-scrolling-container {
  background-color: var(--medGrey);
  grid-area: content;
  max-width: 100vw;
  height: calc(100vh - var(--nav-height) - var(--case-study-header-height));

  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

/* side menu  */
.side-menu {
  grid-area: menu;
  position: sticky;
  top: var(--nav-height);
  height: calc(100vh - var(--nav-height));
  color: var(--text-70);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
  background-color: var(--offWhite);
  border-right: 1px solid var(--border-secondary);
  overflow-x: hidden;
}

.side-menu-list {
  list-style: none;
  padding: 1rem;
  gap: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex: 8;
  overflow-y: auto;
  min-height: 0;
  border-bottom: 1px solid var(--border-secondary);
}

.side-menu-link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--text-70);
  font-size: 14px;
  transition: color 0.2s ease;
}

.side-menu-link:hover,
.side-menu-back:hover {
  color: var(--primary);
}

.side-menu-back {
  color: var(--text-60);
  font-size: 0.75rem;
  text-align: center;

  flex: 1;
}

.side-menu-icon {
  width: 16px;
  height: 16px;
  opacity: 0.75;
}

.side-menu-text {
  line-height: 1;
}
/* used to highlight the side menu item as the user scrolls */
.side-menu-item.active {
  background: rgba(0, 0, 0, 0.06);
  border-left: 3px solid var(--primary);
  font-weight: 600;
  color: var(--primary);
}

.side-menu-item {
  cursor: pointer;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition:
    background 0.2s,
    color 0.2s;
}
@media (max-width: 969px) {
  .case-study-detail-layout {
    display: flex; /* stack everything */
    flex-direction: column;
    max-width: 100vw;
  }

  .simple-header-title {
    font-size: 1.25rem;
  }

  /* hide  the side menu */
  .side-menu {
    display: none;
  }
  /* display the contents button for smaller screen instead of the side menu */
  .contents-btn {
    display: block;
    font-size: 1rem;
    background: none;
    border: 1px solid var(--border-secondary);
    padding: 0.25rem 0.75rem;
    border-radius: 6px;
  }

  .mobile-contents {
    display: flex;
    flex-direction: row;
    order: -1;
    gap: 2rem;
  }

  .case-study-scrolling-container {
    background-color: var(--mainBg);
    overflow-x: hidden;
  }

  .mobile-back-btn {
    display: block;
  }
}
