.hero {
  display: flex;
  padding: 4rem 2rem;
}

.hero-left {
  flex: 1 1 45%;

  text-align: center;
}

.hero-right {
  flex: 1 1 45%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at 60% 40%, #ffb6d5 0%, #fff 100%);
}

.hero-name {
  font-size: 5rem;
  margin: auto;
  width: 600px;
}

.hero-title {
  font-size: 1.75rem;
  color: var(--accent);
  font-weight: bold;
}

.hero-image {
  max-width: 500px;
  height: auto;
  min-width: 300px;
  margin: auto;
}
.hero-description {
  margin-top: 1.5rem;
  font-size: 1.25rem;
  max-width: 500px; /* or match your hero-name width */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--text);
  line-height: 1.6;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column-reverse;
    padding: 2rem 1rem;
  }
  .hero-right,
  .hero-left {
    flex: none;
    width: 100%;
  }
  .hero-image {
    max-width: 320px;
  }
}
