.hero {
  display: flex;
}

.hero-left {
  flex: 1 1 45%;
  text-align: center;
  padding-bottom: 6rem;
  padding-top: 4rem;
}

.hero-right {
  flex: 1 1 45%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  background-image: url("../assets/images/pink-blob.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: clamp(300px, 100vw, 100%) auto;
}

.hero-name {
  font-size: 5rem;
  margin: auto;
  padding-top: 10%;
  width: 600px;
}

.hero-title {
  font-size: 1.75rem;
  color: var(--accent);
  font-weight: bold;
}

.hero-image {
  max-width: 500px;
  height: auto;
  min-width: 300px;
  margin: auto;
  margin-bottom: 0;
  background: radial-gradient(
    ellipse 80% 90% at bottom,
    rgba(17, 34, 64, 1) 0%,
    rgba(17, 34, 64, 0.9) 50%,
    rgba(17, 34, 64, 0) 60%
  );
}
.hero-description {
  margin-top: 1.5rem;
  font-size: 1.25rem;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--text);
  padding-bottom: 3%;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column-reverse;
    padding-bottom: 10%;
  }
  .hero-right,
  .hero-left {
    flex: none;
    width: 100%;
  }
  .hero-image {
    max-width: 320px;
    padding-top: 10%;
  }
}
