/* UX ENGINEER DESCRIPTION POP UP  */

.info-wrapper {
  position: relative;
  display: inline-block;
}

.info-trigger {
  font-size: 1.75rem;
  color: var(--primary);
  font-weight: bold;
  cursor: pointer;
}

.info-popup {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--text-90);
  padding: 3rem 2rem;
  background: white;
  border-radius: var(--borderRadius);
  box-shadow: var(--box-shadow-hover);
  font-size: 1.25rem;
  line-height: 1.2;
  z-index: 20;

  /* animation */
  opacity: 0;
  transform: translateY(6px);
  animation: fadeIn 0.25s ease forwards;
}
#title-bold {
  font-weight: bold;
  line-height: 1.4;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
