.info-card {
  background: #fff;
  border: 1px solid #e4e6ea;
  max-width: 800px;
  width: 80%;
  margin: auto;
  border-radius: 12px;
  padding: 24px 50px 24px 24px;
  box-shadow: 0 10px 30px rgba(10, 20, 60, 0.04);
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  /* used to place the card in the users view when the menu item on the left is clicked  */
  scroll-margin-top: 50vh;
}
.info-card-col1 {
  margin-right: 24px;
}
.info-card-col2 {
  display: flex;
  flex-direction: column;
}
.info-card-title {
  font-size: 1.75rem;
  font-weight: bold;
  color: #0a143c;
  margin: 0 0 8px;
}
.info-card-headline {
  font-size: 14px;
  color: #2f2f33;
  margin: 0 0 16px;
}

.info-card-description {
  font-size: 15px;
  line-height: 1.6;
  color: #2f2f33;
  margin: 0 0;
  white-space: pre-line;
}
.info-card-block-row {
  display: flex;
  flex-direction: row;
  gap: 1rem; /* spacing between cards */
  flex-wrap: wrap; /* allows wrapping on smaller screens */
  align-self: stretch;
}
