/* overlay for section/ contents menu list*/
.contents-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  pointer-events: none;
  transition: background 0.3s ease;
}

/* dulls background of contents menu */
.contents-overlay.open {
  background: rgba(0, 0, 0, 0.4);
  pointer-events: auto;
}
.icon {
  height: 18px;
  stroke: currentColor;
}
/* slide-out panel */
.contents-menu {
  position: fixed;
  top: var(nav-height);
  left: 0;
  width: 100vw;
  height: calc(100vh - var(--nav-height));
  background: var(--offWhite);
  transform: translateX(-100%);
  transition: transform 0.35s ease;
  padding: 2rem 1.5rem;
  z-index: 1000;
}
.contents-menu-list {
  list-style: none;
}

.contents-menu-link {
  color: var(--text-90);
  font-weight: bold;
}
.contents-menu-link:hover {
  color: var(--primary);
}

.contents-menu.open {
  transform: translateX(0);
}
