.ux-case-study-menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ux-case-study-menu-list {
  list-style: none;
  margin: 0;
  padding: 2rem 1.5rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  overflow-y: auto;
}

.ux-case-study-menu-link {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: var(--text-90);
  font-weight: bold;
}

.ux-case-study-menu-link:hover {
  color: var(--primary);
  opacity: 0.8;
}

.ux-case-study-menu-icon {
  max-width: 25px;
  opacity: 0.8;
}

.ux-case-study-menu-back {
  padding: 1rem 2rem;
  color: var(--text-90);
  font-weight: bold;
  text-decoration: none;
  background: var(--bg);
  border-top: 1px solid var(--border-primary);
}

.ux-case-study-menu-back:hover {
  color: var(--primary);
  opacity: 0.8;
}
